@font-face {
	font-family: "FesterBold";
	src: url("../fonts/Fester/FesteBold.otf");
}
@font-face {
	font-family: "FesterHeavy";
	src: url("../fonts/Fester/FesteHeavy.otf");
}
@font-face {
	font-family: "UniSansCaps";
	src: url("../fonts/UniSans/UniSansHeavy.otf");
}
